name: Autogen README (subdir test)

on:
  push:
    branches: [ main ]
    paths:
      - subdir/readme.toml
      - subdir/README.md
      - .github/workflows/autogen_subdir.yml
      - .github/workflows/reusable_toml_autogen.yml
      - scripts/readme_warning.py
      - scripts/convert_toml_to_readme.py
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  autogen:
    if: github.actor != 'github-actions[bot]'
    uses: ./.github/workflows/reusable_toml_autogen.yml
    with:
      toml_path: subdir/readme.toml
      readme_path: subdir/README.md
